* {
    padding: 0;
    margin: 0;
}

.header {
    padding: 40px 0;
    margin: 0 0 84px 0;
}

.title {
    margin: 0 0 17px 0;
}

.promo-txt {
    margin: 0 0 37px 0;
}

.promo {
    margin: 0 0 118px 0;
}